<div class="container">
    <h1 class="text-center">Eat-A-Burger</h1>
    <div class="row" id="inputForm">
        <div class="col-md-12 text-center">
            <form class="add-burger">
                <div class="row">
                    <div class="col-md-5" id="availableList">
                        <h4>Available Burgers</h4>
                            {{#each burgers}}
                            {{#unless devoured}}
                                {{> burgers/burger-block}}
                            {{/unless}}
                            {{/each}}
                    </div>
                    <div class="col-md-1">
                        
                    </div>
                    <div class="col-md-5" id="devouredList">
                        <h4>Already Devoured!</h4>
                        {{#each burgers}}
                            {{#if devoured}}
                                <p>{{burger_name}}</p>
                            {{/if}}
                        {{/each}}
                    </div>
                </div>
                <div class="form-group justify-content-center">
                    <label for="burger">Enter a burger to eat:</label><br>
                    <textarea class="form-control w-50 d-inline" id="burger_name" rows="3"></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
